Piotr Suchy gr. 1 - czwartek 8:30 - 10:00

Zadanie 4:

Utwórz dataframe, w którym kolumny mają nazwy: name, surname, age, sex. Uzupełnij pięcioma dowolnymi rekordami oraz wyświetl informacje o danych pandas .info(), opis danych pandas .describe(), wyświetl pierwsze trzy rekordy pandas .head().

Import biblioteki:

In [57]:
import pandas as pd

Stworzenie dataframe'u:

In [58]:
d = {'name': ["Piotr", "Agata", "Justyna", "Adam", "Dorota"],
     'surname': ["Suchy", "Szerlok", "Kwiatkowska", "Malysz", "Rogal"],
     'age': [20, 22, 16, 50, 32],
     'sex': ["Male", "Female", "Female", "Male", "Female"]}
df = pd.DataFrame(data=d)
df

      name      surname  age     sex
0    Piotr        Suchy   20    Male
1    Agata      Szerlok   22  Female
2  Justyna  Kwiatkowska   16  Female
3     Adam       Malysz   50    Male
4   Dorota        Rogal   32  Female

Dataframe jest wypelniony losowymi danymi.  Nastepnie, aby otrzmac informacje o df:

In [59]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     5 non-null      object
 1   surname  5 non-null      object
 2   age      5 non-null      int64
 3   sex      5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes
None

Nastepnie uzywamy komendy pandas.descibe() dajacej nam informacji o numerycznych wartosciach kolumn
zawierajacych liczby w df:

In [60]:
df.describe()

             age
count   5.000000
mean   28.000000
std    13.638182
min    16.000000
25%    20.000000
50%    22.000000
75%    32.000000
max    50.000000

Finalnie korzystamy z pandas.head(n), ktora zwraca tylko pierwsze n wierszy:

In [61]:
df.head(3)

      name      surname  age     sex
0    Piotr        Suchy   20    Male
1    Agata      Szerlok   22  Female
2  Justyna  Kwiatkowska   16  Female